body, html {
    height: 100%;
    margin: 0;
}
.footer {
    position: absolute;
    height: 72px;
    width: 100%;
    background-color: #3F51B5;
    color: white;
    text-align: center;
    margin-top: -50;
}
